@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-100;
}

.logo {
  height: 90px;
}
@media (max-width: 768px) {
  .logo {
    height: 50px;
  }
  .navbar {
    height: 55px;
  }
}
.grayColor{
  background-color: #374256;
}
